<div class="visao-geral">
  <div class="tabels">
    <table class="card-small">
      <div class="card-title">Nota média das Unidades Organizacionais</div>
      <div class="card-nota">22,1</div>
    </table>
    <table class="card-small">
      <div class="card-title">Nota média das Unidades Organizacionais</div>
      <div class="card-nota">22,1</div>
    </table>
    <table class="card-small">
      <div class="card-title">Nota média das Unidades Organizacionais</div>
      <div class="card-nota">22,1</div>
    </table>
    <table class="card-small">
      <div class="card-title">Nota média das Unidades Organizacionais</div>
      <div class="card-nota">22,1</div>
    </table>
  </div>

  <!-- <div style="text-align:center"> -->
    <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [dataLabels]="chartOptions.dataLabels!"
    [grid]="chartOptions.grid!"
    [stroke]="chartOptions.stroke!"
    [title]="chartOptions.title!"
  ></apx-chart>
  <!-- </div> -->

  <div class="card-full">
    <div class="card-title">Avaliação das diretorias</div>

   
  </div>
</div>
