<div class="visao-geral">
  <div class="tabels">
    <table class="card-small">
      <div class="card-title">Nota média das Unidades Organizacionais</div>
      <div class="card-nota">22,1</div>
    </table>
    <table class="card-small">
      <div class="card-title">Nota média das Unidades Organizacionais</div>
      <div class="card-nota">22,1</div>
    </table>
    <table class="card">
      <thead>
        <tr>
          <th class="text-left">{{ tableData1.headerRow[0] }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData1.dataRows">
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tabels">
    <table class="card">
      <thead>
        <tr>
          <th class="text-left">{{ tableData1.headerRow[0] }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData1.dataRows">
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
        </tr>
      </tbody>
    </table>
    <table class="card-small">
      <div class="card-title">Nota média das Unidades Organizacionais</div>
      <div class="card-nota">22,1</div>
    </table>
  </div>

  <div class="tabels">
    <table class="card">
      <thead>
        <tr>
          <th class="text-left">{{ tableData1.headerRow[0] }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData1.dataRows">
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
        </tr>
      </tbody>
    </table>
    <table class="card">
      <thead>
        <tr>
          <th class="text-left">{{ tableData1.headerRow[0] }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData1.dataRows">
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
